@charset "utf-8";
/* CSS Document */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0;}
body{font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
a img{border:none; vertical-align:top;}
input,button{ font-family:Tahoma,Verdana,Geneva,sans-serif}
a{ text-decoration:none;}a:hover{ text-decoration: underline;}
i{ font-style:normal;}
body{ background:#f6f6f6; font-family:"微软雅黑";}
.header-all{ width:100%; background:#000; position:relative; z-index:9;}
.header-box{ width:1000px; height:80px; margin:0 auto;}
.logo-f{ float:left;  width:259px; height:59px; background: #fff url(../images/logo.png) no-repeat;}
.logo-f a{ display:inline-block; width:259px; height:59px; text-indent:-999em;}
.nav-box{ float:left; width:480px; height:80px; overflow:hidden; zoom:1; margin-left:50px; position:relative;}
.nav{ position:absolute; left:-1px; overflow:hidden;}
.nav li{ float:left; height:80px; padding-left:1px; text-align:center; position:relative; overflow:hidden;}

.nav li a{ display:inline-block; width:83px; height:60px; padding-top:20px; line-height:22px; font-family:"微软雅黑"; font-size:16px; color:#999; position:relative; z-index:2;}
.nav li.navThis a,.nav li.navThisJs a{ color:#fff;}
.navThis a b{ color:#ffba00;}
.navThisJs a b{ color:#ccc;}
.nav li a:hover{ text-decoration:none;}
.nav li b{ display:block; font-size:14px; height:16px; line-height:16px; overflow:hidden; font-family:Arial; font-size:11px; _cursor:pointer;}
.nav li span{ display:block; width:83px; height:77px; border-bottom:3px solid #ffa21b; position:absolute; left:1px; top:83px; background:#1a1a1a; z-index:1;}

.serch-box{ float:right;margin-top: 20px;}
.serch-box .int{border-radius:6px; padding:0; margin-right:5px; border:1px solid #ddd;height: 22px;}

.header-r{ float:right; padding-top:15px; position:relative;}
.call{ height:18px; line-height:18px; padding:0 0 5px 90px; font-size:14px; color:#ffd967; background:url(../images/call.png) no-repeat 68px 1px; _background:url(../images/call.gif) no-repeat 68px 1px;}
.guanzhu{ font-family:"微软雅黑"; font-size:14px; color:#999; line-height:21px;}
.guanzhu a{ display:inline-block; width:59px; height:21px; margin-left:3px; vertical-align:middle;}
.weibo{ background:url(../images/weibo.gif) no-repeat;}
.weixin{ background:url(../images/weibo.gif) no-repeat 0 -21px;}
.weibo,.weixin{ filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}
.weibo:hover{ filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}
.weixin span{ display:none; width:240px; height:240px; position:absolute; right:0; top:61px; *top:60px;border:#eee solid 1px; z-index:999;}
/* jump */
#jump{position:fixed;top:300px;right:30px;width:40px;z-index:400;}
*html #jump{position:absolute;top:expression(documentElement.scrollTop + "px");margin:300px 0 0 0;}
#jump li{height:50px;overflow:hidden;}
#top,#share,#reply,#sina,#ceping,#weixin{display:block;width:40px;height:42px;overflow:hidden;cursor:pointer;}
#top{background:url(../images/top.png) no-repeat;}
#share{background:url(../images/share.png) no-repeat;}
#reply{background:url(../images/reply.png) no-repeat;}
#sina{background:url(../images/sina.png) no-repeat;}
#weixin{background:url(../images/weixin.png) no-repeat;}
#top:hover{background:url(../images/toped.png) no-repeat;}
#share:hover{background:url(../images/shared.png) no-repeat;}
#reply:hover{background:url(../images/replyed.png) no-repeat;}
#sina:hover{background:url(../images/sinad.png) no-repeat;}
#weixin:hover{background:url(../images/weixind.png) no-repeat;}
#ceping{background:url(../images/ceping.png) no-repeat;}
#ceping:hover{background:url(../images/cepinged.png) no-repeat;}
#EWM{position:absolute;left:-150px;display:none;}
#EWM img{width:150px;height:150px;}

.btn-secondary{    display: inline-block; padding: 0 10px;
    border-radius: 10px;
    background: #666;
    color: #fff;
    margin: 20px 0;}

.btn-secondary:hover{background: #08c; text-decoration: none;}

.col-lg-4{ float: left; width: 33%; margin: 100px 0; text-align: center; font-size: 16px; line-height: 36px; }
.col-lg-4 img{border-radius: 50%;}

.featurette-divider{clear: both;}
.featurette{ font-size: 22px; line-height: 40px; padding: 80px 0; overflow: hidden; }
.featurette .featurette-heading{ font-size: 40px; margin-bottom: 20px; }
.text-muted{ display: block;font-size: 30px; color: #666; margin-top: 10px; }
.order-md-1{float: left: ;}
/*焦点图*/
.jdt-box{ width:100%; height:370px; overflow:hidden; position:relative; z-index:3;}
.jdt-img{ width:100%; height:370px;}
.jdt-img li{ display:none; position:absolute; top:0; left:50%; margin-left:-960px;}
.jdt-list-box{ width:258px; height:102px; position:absolute; left:50%; bottom:10px; margin-left:-129px; z-index:99; background-color: rgba(0, 0, 0, 0.4);
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);}
.jdt-text{ height:66px; overflow:hidden; padding-top:10px;}
.jdt-text h4,.jdt-text h3{ font-family:"微软雅黑"; font-weight:normal; text-align:center; }
.jdt-text h4{ line-height:34px; font-size:22px; color:#FFF;}
.jdt-text h3{ width:250px; margin:0 auto; line-height:28px; font-size:18px;}
.jdt-text h3 a{ color:#FFF;}
.jdt-list{ height:9px; text-align:center; line-height:9px;}
.jdt-list span{ display:inline-block; width:5px; height:9px; margin-left:3px; padding:0 2px; background:url(../images/btn_dian.png) no-repeat 0 -9px; _background:#999; overflow:hidden; zoom:1;}
.jdt-list span.jdtThis{ background:url(../images/btn_dian.png) no-repeat 0 0; _background:#fff;}
.jdt-l,.jdt-r{ display:block; width:40px; height:40px; position:absolute; top:150px; left:50%; cursor:pointer; z-index:99; outline:none; hide-focus:expression(this.hideFocus=true);}
.jdt-l:hover,.jdt-r:hover{}
.jdt-l{ margin-left:-500px; background:url(../images/btn_jt.png) no-repeat;}
.jdt-r{ margin-left:460px; background:url(../images/btn_jt.png) no-repeat 0 -40px;}

#time{color: #08c; margin-left: 10px;}
.main_all{ width:1000px; overflow:hidden; zoom:1; margin:0 auto; padding:8px 0 25px; font-family:"微软雅黑";}
.main-l{ float:left; width:653px;}
.box-title{ padding:10px 0 10px 8px; font-family:"微软雅黑"; font-weight: normal; font-size:22px; color:#222; overflow:hidden; zoom:1;} 
.box-title a{ float:right; font-size:12px; color:#999;}
.box-title a span{ display:inline-block; width:0; height:0; margin-left:4px; border:#f6f6f6 solid 5px; border-left:#ffa21b solid 5px; overflow:hidden;}

.tuijian{ padding:0 8px 8px; border:#e5e5e5 solid 1px; background:#fff; zoom:1;
-moz-box-shadow:1px 1px 3px #ddd; /* For Firefox3.6+ */
-webkit-box-shadow:1px 1px 3px #ddd; /* For Chrome5+, Safari5+ */
box-shadow:1px 1px 3px #ddd; /* For Latest Opera */
}
.tuijian li{ width:635px; height:275px; margin-top:8px; position:relative;}
.tuijian-text{ position:absolute; width:224px; height:257px; right:0; top:0; padding:18px 14px 0; color:#fff; font-family:"微软雅黑"; background-color: rgba(0, 0, 0, 0.5);
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);}
.tuijian .text-l{ left:0;}
.tuijian .text-r{ right:0;}
.tuijian-text h4{ font-size:18px; line-height:30px; font-weight:normal;}
.tuijian-text h4 p{ text-indent:2em;}
.tj-p1,.tj-p2{ font-size:14px; line-height:20px;}
.tj-p1{ padding:10px 0 20px; height:40px; overflow:hidden;}
.tj-p2{ border-top:#FFF solid 1px; padding-top:20px;}

.youji-julebu{ padding:10px 2px 10px 0; overflow:hidden;}
.youji{ width:325px; float:left;}
.youji-list{ padding:0 8px 8px; border:#e5e5e5 solid 1px; background:#fff;
-moz-box-shadow:1px 1px 3px #ddd; /* For Firefox3.6+ */
-webkit-box-shadow:1px 1px 3px #ddd; /* For Chrome5+, Safari5+ */
box-shadow:1px 1px 3px #ddd; /* For Latest Opera */
}
.youji-list li{ padding:11px 0 0; overflow:hidden; zoom:1;}
.youji-list li img{ float:right;}
.youji-list .youji-bg1 img{ float:left;}
.youji-list .youji-bg1{ padding-bottom:10px; background:url(../images/youjiBg1.gif) no-repeat center bottom;}
.youji-bg1 .youji-text{ float:right;}
.youji-text{ float:left; width:168px; font-size:14px;}
.youji-text p{ color:#565656;}
.youji-text p a{ color:#21acb5;}
.youji-text b{ color:#999; font-weight:normal;}
.youji-text span{ font-size:12px; color:#999;}

.julebu{ width:315px; float:right;}
.julebu-box{ padding:15px 6px 0; height:148px; border:#e5e5e5 solid 1px; background:#fff;
-moz-box-shadow:1px 1px 3px #ddd; /* For Firefox3.6+ */
-webkit-box-shadow:1px 1px 3px #ddd; /* For Chrome5+, Safari5+ */
box-shadow:1px 1px 3px #ddd; /* For Latest Opera */
}
.julebu-list li img{ display:block;}
.julebu-list li p{ height:88px; padding:4px 0; line-height:22px; color:#555; font-size:14px; text-indent:2em; overflow:hidden;}
.julebu-list li p a{ color:#21acb5;}
.list-index{ padding-bottom:5px; text-align:center; color:#999;}
.list-index span{ color:#ff9900;}
.julebu-btn{ margin:0 auto; width:52px; height:26px; background:url(../images/jt2.png) no-repeat;}
.julebu-btn li{ width:26px; height:26px; float:left; cursor:pointer;}
.julebu-btn li span{ float:left; width:0; height:0; overflow:hidden;}
.btn-l span{ margin:6px 0 0 5px; border:#fff solid 5px; border-right:#dedede solid 5px;}
.btn-r span{ margin:7px 0 0 11px; border:#fff solid 5px; border-left:#dedede solid 5px;}
.julebu-btn .btn-l2 span{ border-right:#ababab solid 5px;}
.julebu-btn .btn-r2 span{ border-left:#ababab solid 5px;}

.main-r{ float:right; width:340px;}
.huigu-box{ padding:0 9px 9px; margin-bottom:11px;  border:#e5e5e5 solid 1px; background:#fff; _height:565px; _overflow:hidden;
-moz-box-shadow:1px 1px 3px #ddd; /* For Firefox3.6+ */
-webkit-box-shadow:1px 1px 3px #ddd; /* For Chrome5+, Safari5+ */
box-shadow:1px 1px 3px #ddd; /* For Latest Opera */
}
.huigu-box li{ position:relative; padding:10px 0; overflow:hidden; zoom:1;}
.huigu-img{ position:relative;}
.huigu-img a{ display:block;}
.huigu-img-text{ position:absolute; left:0; top:0; width:47px; padding:8px 0 0 7px; background-color: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);}
.huigu-img .f_r{ left:auto; right:0;}
.huigu-img-text h4,.huigu-img-text h5{ float:left; width:20px; height:143px; line-height:16px; color:#FFF; text-align:center; vertical-align:middle; font-size:14px;}
.huigu-img-text h5{ font-weight:normal;}
.huigu-box li p{ height:87px; padding-top:6px; overflow:hidden; color:#555; line-height:22px; text-indent:2em;}
.huigu-xq{ float:right; height:18px; line-height:18px; font-size:14px; color:#999; padding-right:20px;}
.huigu-xq:hover{ text-decoration:none; background:url(../images/jt2-2.png) no-repeat right -18px;}
.baoming-top{ height:122px; padding:30px 15px 10px; line-height:34px; font-size:14px;  border:#e5e5e5 solid 1px; background:url(../images/qianbi.png) no-repeat 270px 50px #fff; color:#999;
-moz-box-shadow:1px 1px 3px #ddd; /* For Firefox3.6+ */
-webkit-box-shadow:1px 1px 3px #ddd; /* For Chrome5+, Safari5+ */
box-shadow:1px 1px 3px #ddd; /* For Latest Opera */
}
.baoming-top span{ color:#ff9102;}
.baoming-top a{ color:#21acb5;}
.lianxi-title{ margin:10px 0; font-size:20px; font-weight:normal; color:#222; padding-left:45px; background:url(../images/xinfeng.png) no-repeat 10px 2px;}
.lianxi-list{}
.lianxi-list li{ padding:3px 0 3px 85px; overflow:hidden; zoom:1;}
.lianxi-list li b{ float:left; width:84px; height:24px; line-height:24px; margin-left:-85px; text-align:right; color:#555; font-weight:normal;}
.lianxi-list li i{ color:#F00;}
.lianxi-list li input{ width:194px; padding:0 5px; height:22px; line-height:22px; font-size:12px; border:#e5e5e5 solid 1px; color:#555; font-family:"微软雅黑";}
.lianxi-list li textarea{ width:200px; height:60px; padding:0 0 0 4px; border:#e5e5e5 solid 1px; line-height:20px; font-size:12px; color:#555;}
.lianxi-list li button{ height:30px; text-align:center; font-size:16px; cursor:pointer;}
.tijiao,.quxiao{ float:left;}
.tijiao{ width:112px; color:#fff; background:#ffa21b; border:#ffa21b solid 1px;}
.quxiao{ width:90px; margin-left:5px; color:#999; background:#fff; border:#e5e5e5 solid 1px;}






/*底部*/ 
.footer{ padding:11px 0; width:100%; text-align:center; color:#c1c1c1; background:#404040; }
.footer p{ width:1000px; margin:0 auto; height:50px; line-height:50px;}
.footer_gs{ float:right; margin-right:7px; display:inline; background:url(../images/footer_icon.png) no-repeat; width:47px; height:54px;}

/*修改首页底部*/
.sh_safety_add{ height:50px; padding:10px 0px 20px; background:#ffffff; text-align:center;}
.footer_gs_index{ float:none;  display:inline-block;}
.sh_safety{ width:157px; height:54px; margin-left:25px; background:url(../images/sh_safety.jpg) no-repeat; display:inline-block;}